<nb-card accent="info" status="warning">
    <nb-card-header class="modal-header">
        <h5 class="modal-title">{{data.Codigo}} {{data.Nombre}}</h5>
        <button type="button" mat-button [mat-dialog-close] class="close"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <h5>Movimientos</h5>
        <ng2-smart-table [settings]="listSettings" [source]="source">
        </ng2-smart-table>
    </nb-card-body>
    <nb-card-footer class="modal-footer">
        <button mat-button [mat-dialog-close] class="btn btn-primary" cdkFocusInitial>
            Aceptar
        </button>
    </nb-card-footer>
</nb-card>

