::ng-deep .mat-dialog-container {

    padding: 0;
    nb-card {
        margin-bottom: 0;
    }
}

:host ::ng-deep ng2-st-tbody-edit-delete {
    display: flex !important;
    height: 0 !important;
  }
  
  :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    width: 50px;
    text-align: center;
    font-size: 1.1em;
  }
  
  :host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #5dcfe3;
  }

.modal-title {
    color: white;
    text-transform: uppercase;
}
:host ::ng-deep ng2-smart-table .ng2-smart-actions {
    text-align: center;
    text-align: -webkit-center;
}

:host /deep/ ng2-smart-table {
  &.tercero-display > table {
      .Tercero {
        display: none;
      }
      td:nth-child(5) {
        display: none;
      }
  }
} 
