<div class="container bg-white p-5 border rounded">
    <div class="row">
        <div class="col py-2">
            <h5 class="card-title text-center text-warning text-uppercase">
                REGISTRO CONTABLE DE NÓMINA
            </h5>
        </div>
    </div>

    <br>
    <div class="container">

        <form novalidate [formGroup]="informacionGroup" (ngSubmit)="saveForm()">
            <!-- Grupo: Información de Consulta -->
            <br>
            <div class="container">
                <div class="row">
                    <div class="col pb-3">
                        <h6 class="card-title col-md-6 bg-warning text-white text-center py-2 px-2 rounded">
                            Consulta
                        </h6>
                    </div>
                </div>
                <br>
                <!-- Campos: fecha Creacion registro  -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="fecha">Fecha Creación Registro</label>
                        <div class="input-group">
                            <input id="fecha" type="date" name="fecha" class="form-control" formControlName="fecha" [class.is-invalid]="esInvalido('fecha')">
                            <div class="input-group-append">
                            </div>
                        </div>
                        <small *ngIf="esInvalido('fecha')" class="text-danger">Seleccione una fecha</small>
                    </div>
                </div>

                <!-- Campos: vigencia y mes  -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="vigencia">Vigencia</label>
                        <select id="vigencia" class="custom-select" formControlName="vigencia" [class.is-invalid]="esInvalido('vigencia')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>2020</option>
                            <option>2021</option>
                        </select>
                        <small *ngIf="esInvalido('vigencia')" class="text-danger">Complete este campo</small>
                    </div>

                    <div class="col-md-2"></div>
        
                    <div class="col-md-4">
                        <label for="mes">Mes</label>
                        <select id="mes"  class="custom-select" formControlName="mes" [class.is-invalid]="esInvalido('mes')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>Enero</option>
                            <option>Febrero</option>
                            <option>Marzo</option>
                            <option>Abril</option>
                            <option>Mayo</option>
                            <option>Junio</option>
                            <option>Julio</option>
                            <option>Agosto</option>
                            <option>Septiembre</option>
                            <option>Octubre</option>
                            <option>Noviembre</option>
                            <option>Diciembre</option>
                        </select>
                        <small *ngIf="esInvalido('mes')" class="text-danger">Complete este campo</small>
                    </div>
                </div>

                <!-- Campos: Tipo empleado y tipo pago  -->
                <div class="form-group row">
                    <div class="col-md-4">
                        <label for="tipoEmpleado">Tipo de Empleado</label>
                        <select id="tipoEmpleado" class="custom-select" formControlName="tipoEmpleado" [class.is-invalid]="esInvalido('tipoEmpleado')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>Adminsitrativo</option>
                            <option>Docente</option>
                            <option>Pensionado</option>
                            <option>Trabajador oficial</option>
                        </select>
                        <small *ngIf="esInvalido('tipoEmpleado')" class="text-danger">Complete este campo</small>
                    </div>

                    <div class="col-md-2"></div>
        
                    <div class="col-md-4">
                        <label for="tipoPago">Tipo de pago</label>
                        <select id="tipoPago"  class="custom-select" formControlName="tipoPago" [class.is-invalid]="esInvalido('tipoPago')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>Intereses</option>
                            <option>Cesantías</option>
                            <option>Mes</option>
                            <option>Prima</option>
                            <option>Adicional</option>
                            <option>Vacaciones</option>
                        </select>
                        <small *ngIf="esInvalido('tipoPago')" class="text-danger">Complete este campo</small>
                    </div>
                </div>

                <!-- Campos:  tipo de comprobante -->
                <div class="form-group row">       


                    <div class="col-md-4">
                        <label for="tipoComprobante">Tipo de Comprobante a generar</label>
                        <select id="tipoComprobante"  class="custom-select" formControlName="tipoComprobante" [class.is-invalid]="esInvalido('tipoComprobante')">
                            <option selected disabled value="">Seleccione...</option>
                            <option>Nómina</option>
                            <option>Desagregación Nómina</option>
                        </select>
                        <small *ngIf="esInvalido('tipoComprobante')" class="text-danger">Complete este campo</small>
                    </div>
                </div>

                <!-- Campos: identificacion -->
                <div *ngIf="this.informacionGroup.value.tipoComprobante === 'Desagregación Nómina'" class="form-group row">       
                    <div class="col-md-4">
                        <label for="documento">Documento   </label>
                        <input type="text" pattern="[0-9]*" id="documento"  class="form-control" formControlName="documento" [class.is-invalid]="esInvalido('documento')">
                        <small *ngIf="esInvalido('documento')" class="text-danger">Datos no validos</small>
                    </div>
                </div>



                <!-- Botones  -->
                <br>
                <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
                <br>

                <div class="container">
                    <div class="row pt-2 text-center">
                        <div class="col-md-6">
                            <a routerLink="../lista">
                                <button type="button" class="btn btn-warning mb-3 mt-3 text-white">
                                    <div class="d-flex flex-row justify-content-around align-middle">
                                        <span>Volver a registros</span>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button mat-button [disabled]="informacionGroup.invalid" type="submit" class="btn btn-success m-0 mt-4">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </form>


    </div>

</div>
