<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <button nbButton nbTooltip="Cerrar Wizard" nbTooltipStatus="primary" ghost status="primary" class="nbButton-close"><nb-icon icon="close-outline"></nb-icon></button>
    <nb-stepper orientation="horizontal">
      <h2>{{'CONCEPTOS.crear-concepto' | translate }}</h2>
      <nb-step [label]="firstStep">
        <ng-template #firstStep >{{'CONCEPTOS.crear-concepto' | translate }}</ng-template>
        <h3>{{'CONCEPTOS.crear-concepto' | translate }}</h3>
        <div class="input-create-concept">
          <input type="text" nbInput fullWidth shape="round" placeholder="Escribir el nombre del concepto" nbStepperNext>
          <button class="nbButton-inline-button" nbButton shape="round" nbStepperNext>{{'CONCEPTOS.siguiente' | translate }}</button>
        </div>
      </nb-step>
      <nb-step [label]="secondStep">
        <ng-template #secondStep>{{'CONCEPTOS.asociar-cuentas-contables' | translate }}</ng-template>
        <h3>{{'CONCEPTOS.asociar-cuentas-contables' | translate }}</h3>
        <ngx-cuentas-contables></ngx-cuentas-contables>
      </nb-step>
      <nb-step [label]="thirdStep">
        <ng-template #thirdStep>{{'CONCEPTOS.concepto-creado' | translate }}</ng-template>
        <nb-card class="nbCard-resumen" accent="success">
          <div class="nbCard-columm">
            <nb-icon status="success" icon="checkmark-circle-outline" [options]="{ animation: { type: 'zoom' } }"></nb-icon>
          </div>
          <div class="nbCard-columm">
            <h4 status="success" >{{'CONCEPTOS.concepto-creado' | translate }}</h4>
            <p>
              <strong>{{'CONCEPTOS.nombre' | translate }}</strong><span>Lorem ipsum</span>
            </p>
            <p>
              <strong>{{'CONCEPTOS.cuenta-credito' | translate }}</strong><span>Lorem ipsum</span>
            </p>
            <p>
              <strong>{{'CONCEPTOS.cuenta-debito' | translate }}</strong><span>Lorem ipsum</span>
            </p>
          </div>
        </nb-card>
        <button nbButton outline disabled nbStepperNext>Cerrar wizard</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>