<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-body>
    <button nbButton nbTooltip="Cerrar Wizard" nbTooltipStatus="primary" ghost status="primary" class="nbButton-close"><nb-icon icon="close-outline"></nb-icon></button>
    <nb-stepper orientation="horizontal">
      <h2>{{'CONCEPTOS.crear-concepto' | translate }}</h2>
      <nb-step [label]="firstStep">
        <ng-template #firstStep >{{'CONCEPTOS.crear-concepto' | translate }}</ng-template>
        <h3>{{'CONCEPTOS.crear-concepto' | translate }}</h3>
        <button nbButton outline disabled nbStepperNext>{{'CONCEPTOS.anterior' | translate }}</button>
        <button nbButton outline nbStepperNext>{{'CONCEPTOS.siguiente' | translate }}</button>
      </nb-step>
      <nb-step [label]="secondStep">
        <ng-template #secondStep>{{'CONCEPTOS.asociar-cuentas-contables' | translate }}</ng-template>
        <h3>{{'CONCEPTOS.asociar-cuentas-contables' | translate }}</h3>
        <button nbButton outline nbStepperPrevious>{{'CONCEPTOS.anterior' | translate }}</button>
        <button nbButton outline nbStepperNext>{{'CONCEPTOS.guardar' | translate }}</button>
      </nb-step>
      <nb-step [label]="thirdStep">
        <ng-template #thirdStep>{{'CONCEPTOS.concepto-creado' | translate }}</ng-template>
        <h3>{{'CONCEPTOS.concepto-creado' | translate }}</h3>
        <button nbButton outline disabled nbStepperNext>Cerrar wizard</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>