<form novalidate [formGroup]="conceptosProvisionGroup" (ngSubmit)="saveForm()">
    <!-- Grupo: Información de Provision -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-6 bg-warning text-white text-center py-2 px-2 rounded">
                    Concepto Provision
                </h6>
            </div>
        </div>
        <br>

        <!-- Campos: Tipo de nómina -->

        <div class="form-group row">
            <div class="col-md-8">
                <label>Tipo de Nómina</label>
                <input [value]="this.provisionHelper.tipoNomina" type="text" class="form-control" readonly>
            </div>
        </div>

        <!-- Campos: concepto de nomina y cuenta contable -->
        <div class="form-group row">
            <div class="col-md-9">
                <label>Conceptos de Provision</label>
                <select class="custom-select" formControlName="conceptos" [class.is-invalid]="conceptosInvalid">
                    <option selected disabled value="">Seleccione...</option>
                    <option>Cesantias</option>
                    <option>Vacaciones</option>
                    <option>Prima de Servicios</option>
                </select>
                <small *ngIf="conceptosInvalid" class="text-danger">Seleccione una opción</small>
            </div>
            <div class="col-md-3">
                <button type="button" [disabled]="conceptosProvisionGroup.invalid" class="btn btn-warning btn-block text-white m-0 mt-4" (click)="AddConcepto()">Añadir</button>
            </div>
        </div>
        <br>
        <div class="row py-3">
            <div class="col bg-white">
                <ngx-general-table [config]="configConceptos" [datos]="datosConceptos" (selectedAction)="SelectedAction($event.accion, $event.fila)">
                </ngx-general-table>
            </div>
        </div>

        <br>
        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
        <br>
        <!-- Botones: Volver, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-6">
                    <div class="col-md-6">
                    </div>
                        <button  mat-button matStepperPrevious type="button" class="btn btn-warning mb-3 mt-3 text-white">Volver
                        </button>
                    </div>
                <div class="col-md-6">
                    <button mat-button matStepperNext [disabled]="conceptosProvisionGroup.invalid" type="submit" class="btn btn-success m-0 mt-4">
                        Siguiente
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Modal: Eliminar registros de la tabla -->
<ng-template #eliminarTipoModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="BorrarTipoModal">Borrar Registro</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        ¿Desea borrar el registro?
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('Cross click')">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="modal.close(true)">Borrar</button>
    </div>
</ng-template>
<!-- Fin Modal -->