<nb-card-body>
      <h4 class="card-title text-center text-warning">
        {{ 'CUENTAS_CONTABLES.arbol_cuentas_contables' | translate }}
      </h4>
</nb-card-body>

<ngx-float-menu class="floating" [menu]="menu" (itemClick)="selectAction($event)"></ngx-float-menu>

<div class="card border-warning aligned">
  <mat-tab-group mat-stretch-tabs dynamicHeight [(selectedIndex)]="selected">
    <mat-tab label="Arbol Contable">
      <div style="padding: 20px;">
        <ngx-arbol-contable (onSelection)="onSelectNode($event)"></ngx-arbol-contable>
      </div>
    </mat-tab>
    <mat-tab [label]="tab.title" *ngFor="let tab of tabs; let index = index">
      <ng-template mat-tab-label>
        <div>
          <nb-icon [icon]="({editar: 'edit', crear: 'plus', ver: 'glasses'})[tab.type]" pack="fas"></nb-icon>
        </div>
        <div class="tab-title">
          {{tab.title}}
        </div>
        <div>
          <nb-icon [icon]="'times'" aria-hidden="true" pack="fas" status="secondary" (click)="removeTab(index)">
          </nb-icon>
        </div>
      </ng-template>
      <div style="padding: 20px;">
        <ngx-cuenta-contable [cuenta]="tab.type == 'crear' ? null : selectedCoumt" [action]="tab.type"></ngx-cuenta-contable>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
