.aligned {
    margin-bottom: 5em;
    margin-top: -5em;
}

.floating {
  margin-bottom: 20px;
  position: sticky;
  top: calc(100% - 4em + 1px);
  display: flex;
  z-index: 10;
  width: 100%;
  background-color: white;
  border-top: solid 1px #ffc107;
  justify-content: center;
}

:host ::ng-deep .mat-tab-label-content {
  width: 100%;
  align-content: space-between;
  .tab-title {
    padding: 0 10px;
    width: 100%;
    text-align: center;
    word-break: break-word;
  }

}
