.aligned {
  display: flex;
  justify-content: center;
}

.floating {
  margin-bottom: 20px;
  position: sticky;
  top: 50px;

}

:host ::ng-deep .mat-tab-label-content {
  width: 100%;
  align-content: space-between;
  .tab-title {
    padding: 0px 10px;
    width: 100%;
    text-align: center;
    word-break: break-word;
  }

}