@import '../../../@theme/styles/themes';
:host ::ng-deep nb-card-body {
  position: relative;
  
  button:nth-child(1) {
    left: 1%;
  }
  button:nth-child(2) {
    right: 1%;
  }
  h3 {
    font-size: 1.2rem;
    margin-top: 2%;
    color: nb-theme(color-primary-700);
  }
  .resumen-cuentas , .arbol-cuentas {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .arbol-cuentas {
    border-top: 2px solid nb-theme(color-gray-500);
  }
  .resumen-cuentas {
    font-size: 1.1rem;

    .nbCard-columm {
      text-align: left;
      margin-bottom: 10px;
    }

    strong {
      margin-right: 10px;
    }
  }
  .nbCard-columm {
    width: 40%;
    margin-left: 10%;
  }
  nb-list {
    text-align: left;
    overflow: scroll;
    height: 40rem;
  }
  nb-list-item {
    display: flex;
    transition-delay: 50ms;
    background-color: white;
    flex-direction: column;
  }
  nb-list-item:hover {
    color: white;
    background-color: nb-theme(color-primary-200);
  }
  nb-list-item:active {
    color: white;
    background-color: nb-theme(color-green-ok);
  }
}
@media (max-width: 640px) {
  :host ::ng-deep nb-card-body {
    button {
      span.icon {display:inline-block;}
      span.text {display:none;}
    }
  }
}
@media (min-width: 641px) {
  :host ::ng-deep nb-card-body {
    button {
      span.icon {display:none;}
      span.text {display:inline-block;}
    }
  }
}
