<nb-card>
  <nb-card-body>
    <button nbButton outline *ngIf="wizzardSteps" nbStepperPrevious>
      <span class="text">{{'CONCEPTOS.anterior' | translate }}</span>
      <span class="icon"><nb-icon status="primary" icon="arrow-ios-back-outline"></nb-icon></span>
    </button>
    <button nbButton outline *ngIf="wizzardSteps" status="info" (click)="enviarGuardado()">
      <span class="text">{{'CONCEPTOS.guardar' | translate }}</span>
      <span class="icon"><nb-icon status="info" icon="arrow-ios-forward-outline"></nb-icon></span>
    </button>
    <h3>{{'CUENTAS_CONTABLES.cuentas-contables' | translate }}</h3>
    <div class="resumen-cuentas">
      <div class="nbCard-columm" >
        <strong>{{'CONCEPTOS.cuenta-credito' | translate }}</strong>
          <span
            [@changeSelectedValue]="triggerAnimationText('credito')"
            (@changeSelectedValue.done)="restaurarAnimationInitial($event)">{{ selectionCredito }}</span>
      </div>
      <div class="nbCard-columm">
        <strong>{{'CONCEPTOS.cuenta-debito' | translate }}</strong>
          <span
            [@changeSelectedValue]="triggerAnimationText('debito')"
            (@changeSelectedValue.done)="restaurarAnimationInitial($event)">{{ selectionDebito }}</span>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">  
            <ngx-table 
            [dataSource]= "dataSourceCredito" 
            [allColumns]="columns"
            (updateDebito)="updateDebito($event)"
            (updateCredito)="updateCredito($event)"
            [selection]="credito" ></ngx-table>
          </div>
          <div class="col-sm-6">        
            <ngx-table 
            [dataSource]= "dataSourceDebito" 
            [allColumns]="columns" 
            (updateDebito)="updateDebito($event)"
            (updateCredito)="updateCredito($event)"
            [selection]="debito" ></ngx-table>
          </div>
        </div>
    </div>
  </nb-card-body>
</nb-card> 

