<ngx-wizard
  [stateWizard]="currentState"
  [namesConceptosArray]="namesConceptosArray"
  (wizardActivator)=updateStateWizard($event)
  #wizardCreateConcepto
></ngx-wizard>
<!--button nbButton outline status="info" (click)="abrirWizard()">Abrir  Wizard</button-->
<!--button nbButton outline status="info" (click)="cerrarWizard()">Cerrar Wizard</button-->
<button nbButton outline status="info" (click)="abrirModal()">Abrir Modal Edit</button>
<ngx-list-conceptos
  [stateWizard]="currentState"
  [setDataRequest]="setDataRequest"
  (wizardActivator)=updateStateWizard($event)
  (getAllConceptosNames)=getAllConceptosNames($event)
  (emitDataRequested)=getDataRequested($event)
></ngx-list-conceptos>