// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-enabled-themes: (default, cosmic, corporate, kronos);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

$nb-themes: nb-register-theme((

  color-primary-100: #fdde9d, // <- new primary color
  color-primary-200: #fccd6c,
  color-primary-300: #fccd6c,
  color-primary-400: #fbc554,
  color-primary-500: #fbbd3b,
  color-primary-600: #fab523,
  color-primary-700: #fab523,
  color-primary-800: #faad0b,
  color-primary-900: #dd9900,
  color-gray-500: #7f7f7f,
  color-green-ok: #42a948,
  color-green-ok-title: #28a745,
  color-red-invalid: #a94442,
  menu-background-color: #dd9900,
  sidebar-background-color: #dd9900,
  menu-item-hover-background-color: #dd9900,
  menu-text-color: #ffff,
  //background-basic-color-1: #dd9900,
  context-menu-border-color: #0000,
  text-basic-color: 	#101426,
  text-disabled-color: #8f9bb3,
  actions-icon-color: #dd9900,
), kronos, default);

$nb-themes: nb-register-theme((

  color-primary-100: #FDF4CA,
  color-primary-200: #FBE696,
  color-primary-300: #F4D061,
  color-primary-400: #EABA3A,
  color-primary-500: #DD9900,
  color-primary-600: #BE7D00,
  color-primary-700: #9F6400,
  color-primary-800: #804C00,
  color-primary-900: #6A3C00,

  color-success-100: #F0FDD1,
  color-success-200: #DEFBA5,
  color-success-300: #C3F476,
  color-success-400: #A8EA53,
  color-success-500: #81DD1F,
  color-success-600: #64BE16,
  color-success-700: #4B9F0F,
  color-success-800: #358009,
  color-success-900: #266A05,

  color-info-100: #CBF3FE,
  color-info-200: #98E2FD,
  color-info-300: #64CAFB,
  color-info-400: #3EB1F8,
  color-info-500: #008AF4,
  color-info-600: #006AD1,
  color-info-700: #004FAF,
  color-info-800: #00388D,
  color-info-900: #002875,

  color-warning-100: #FEF9CC,
  color-warning-200: #FEF399,
  color-warning-300: #FEE966,
  color-warning-400: #FDE040,
  color-warning-500: #FCD202,
  color-warning-600: #D8B001,
  color-warning-700: #B59001,
  color-warning-800: #927200,
  color-warning-900: #785C00,
  
  color-danger-100: #FFECD2,
  color-danger-200: #FFD3A4,
  color-danger-300: #FFB478,
  color-danger-400: #FF9656,
  color-danger-500: #FF651E,
  color-danger-600: #DB4715,
  color-danger-700: #B72E0F,
  color-danger-800: #931909,
  color-danger-900: #7A0B05,

    /* Basic colors - for backgrounds and borders and texts */

  color-basic-100: #ffffff,
  color-basic-200: #f7f9fc,
  color-basic-300: #edf1f7,
  color-basic-400: #e4e9f2,
  color-basic-500: #c5cee0,
  color-basic-600: #ffffff,
  color-basic-700: #2e3a59,
  color-basic-800: #222b45,
  color-basic-900: #1a2138,
  color-basic-1000: #151a30,
  color-basic-1100: #101426,

  color-gray-500: #7f7f7f,
  color-green-ok: color-success-800,
  color-green-ok-title: color-success-700,
  color-red-invalid: color-danger-600,
  menu-background-color: color-primary-500,
  sidebar-background-color: color-primary-500,
  menu-item-hover-background-color: color-primary-900,
  menu-text-color: color-basic-100,
  //background-basic-color-1: #dd9900,
  context-menu-border-color: #0000,
  text-basic-color: 	#101426,
  text-disabled-color: #8f9bb3,
  actions-icon-color: color-primary-500,

), kronos-propuesta, default);
