<nb-card status="warning" class="accounting-tree">
  <nb-card-header>
    {{ 'CUENTAS_CONTABLES.arbol_cuentas_contables' | translate }}
  </nb-card-header>
  <nb-card-body>
    <label class="search-label" for="search">{{"GLOBAL.buscar" | translate}}</label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" *ngIf="data">

      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" (click)="onSelect(row);"
        [ngClass]="{'selected': selectedNode?.Codigo == row.data.Codigo}"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{customColumn}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <ngx-nb-fs-icon [kind]="row.hasChildren() ? 'dir' : 'doc'" [expanded]="row.expanded"></ngx-nb-fs-icon>
          {{row.data[customColumn]}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{column}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
      </ng-container>

    </table>
  </nb-card-body>
</nb-card>