
    <!-- Grupo: Información de Provision -->
    <br>
    <div class="container">
        <div class="row">
            <div class="col pb-3">
                <h6 class="card-title col-md-6 bg-warning text-white text-center py-2 px-2 rounded">
                    Resumen
                </h6>
            </div>
        </div>

    <br>
    <!-- Tabla -->     
    <div class="table-responsive">
        <table class="table table-bordered table-hover">    
            <thead>
              <tr>
                <th class="tg-0pky">Tipo Nómina</th>
                <th class="tg-0pky">Mes</th>
                <th class="tg-0pky">Concepto Nómina</th>
                <th class="tg-0pky">Cuenta Contable</th>
                <th class="tg-0pky">Concepto provisión</th>
                <th class="tg-0pky">Porcentaje</th>
                <th class="tg-0pky">Valor Provisión</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-0pky" rowspan="5">Administrativos</td>
                <td class="tg-0pky" rowspan="5">Julio</td>
                <td class="tg-0pky" rowspan="5">Sueldos</td>
                <td class="tg-0pky" rowspan="5">51-01-01</td>
                <td class="tg-0pky">Cesantías</td>
                <td class="tg-0pky">0,0833</td>
                <td class="tg-0pky">$65.788.321.00</td>
              </tr>
              <tr>
                <td class="tg-0pky">Intereses Cesantías </td>
                <td class="tg-0pky">0,001</td>
                <td class="tg-0pky">$657.783.00</td> 
              </tr>
              <tr>
                <td class="tg-0pky">Vacaciones </td>
                <td class="tg-0pky">0,0833</td>
                <td class="tg-0pky">$65.788.321.00</td>
              </tr>
              <tr>
                <td class="tg-0pky">Prima de Vacaciones </td>
                <td class="tg-0pky">0,0417</td>
                <td class="tg-0pky">$32.928.643</td>
              </tr>
              <tr>
                <td class="tg-0pky">Prima de Servicios </td>
                <td class="tg-0pky">0,0833</td>
                <td class="tg-0pky">$65.788.321.00</td>
              </tr>
            </tbody>
        </table>
     </div>

        <!-- Campos: Tipo de nómina -->

        <br>
        <div class="row py-4 ">
            <div class="col-md-4 text-right pt-3">
                <label class="text-right">TOTAL PROVISIÓN</label>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value=" $ 296.739.170" readonly>
            </div>
        </div>

        <br>
        <mat-divider class="col-md-12 py-2 border-warning"></mat-divider>
        <br>
        <!-- Botones: Volver, Siguiente -->
        <div class="container">
            <div class="row pt-2 text-center">
                <div class="col-md-4">
                    <button  mat-button matStepperPrevious type="button" class="btn btn-warning mb-3 mt-3 text-white">
                        Volver
                    </button>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="../crear">
                            <button type="button" class="btn btn-success mb-3 mt-3 text-white">
                                <div class="d-flex flex-row justify-content-around align-middle">
                                    <span>Nueva Provisión</span>
                                </div>
                            </button>
                        </a>
                    </div>
                    <div class="col-md-4">
                    <button mat-button matStepperNext type="submit" class="btn btn-success m-0 mt-4">
                        Cálculo de Régimen
                    </button>
                </div>
            </div>
        </div>
    </div>

