@import '../../../@theme/styles/themes';

.float-menu {
    overflow: auto;
    display: flex;
    align-content: flex-end;

    .item {
        .menu-icon {
            * {
                font-size: 1.6rem;
            }

            text-align: center;
        }

        .menu-label {
            padding: 0 15px;
            font-size: 1.2rem;
        }

        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        cursor: pointer;
        align-items: center;
        align-self: flex-end;
        padding: 10px;
        margin: 4px;
        border-radius: 15px;
        &:hover {
            box-shadow: 3px 1px 6px 0 #000000;
        }

    }

    &.primary {
        .item {
            color: nb-theme(menu-text-color);
            background-color: nb-theme(color-primary-900);
        }

    }

    &.basic-dark {
        .item {
            color: nb-theme(color-primary-500);
            background-color: nb-theme(color-basic-1100);
        }

    }

}
