@import '../../../@theme/styles/themes';
:host ::ng-deep .modal-edit {
  position: relative;
  height: 40rem;
  overflow: hidden;

  nb-card-header {
    display: flex;

    nb-badge {
      padding: 0.25rem 3.5rem;
    }
    button.nbButton-close {
      position: absolute;
      right: 0;
    }
    input.input-editConcepto {
      margin-top: 11px;
      font-size: 1.1rem;
    }
    input.input-editConcepto.ng-valid:not(form){
      border: 1px solid nb-theme(color-green-ok); /* green */
    }
    input.input-editConcepto.ng-invalid.ng-dirty:not(form)  {
      border: 1px solid nb-theme(color-red-invalid); /* red */
    }
  }
  nb-card-body {
    display: flex;
    flex-direction: column;
  }
}